<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bienvenue sur ma premiere page openclassroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
<h1>Hello {{ nom }} </h1>
    <p>
        Le Hello World est un grand classic de la programmation.
        Il signifie énormément, car cela veut dire que vous avez réussi à exécuter le programme
        pour accomplir une tâche simple :
            afficher ce hello world!
    </p>
</body>
</html>